
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: beige;
}

.box{
    height:250px;
    width:250px;
    background-color: rgb(237, 150, 168);
}

.container{
    border:1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0;
}
.box:nth-child(2n+1){
    background-color: aqua;

}
.linkWrap{
    width: 100vw;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

a {
  font-size: xx-large;
}

a:hover
{
    background-color: black;
    color: yellow;
}