*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px; 
}

.container__btn{
    height: 70px;
    font-family: 'Lisu Bosa', serif;
    font-size: 24px;
    width: calc(20% - 10px); 
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
    border-radius: 3px;
    text-decoration: none;
    display: flex; 
    justify-content: center;
    align-items: center; 
    color: black;

}
.container__btn:hover{
    color: #00aeef;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: pointer;
}

@media screen and (min-width: 337px) and (max-width: 767px){

    .container__btn{
        width: calc(50% - 10px); 
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .container__btn{
        width: calc(33.3% - 10px); 
    }
}

@media screen and (max-width: 336px) {

    .container__btn{
        width: calc(100% - 10px);
        font-size: 18px;
    }
    
}