*{
    box-sizing: border-box;
}

body{
    margin:0px;
    padding: 0px;
}

.wrap{
    width: 33.33%;
    height: 35vh;
    position: absolute;
    left: 0;
    top:0;
}

.wrap__above{
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.wrap__above__img{
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
}

.wrap__bottom{
    padding: 8px 10px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    background-color: #ebf0f3;
    position: absolute;
    z-index: 4;
}

.wrap__bottom__left{
    font-size: 12px;
}

.wrap__bottom__right{
    color: #71777b;
    font-size: 10px;
}

.wrap:hover .wrap__above__img{
    transform: scale(1.1);
}

.wrap:hover .wrap__bottom__left{
    color: #00aeef;
}

.wrap:hover::after{
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to bottom,rgba(25,25,25,0) 0,rgba(25,25,25,.9) 100%);
    opacity: 0.8;
    z-index: 3;
}